
h1{
	text-align: center;
	color: #D700F8;
	text-decoration-style: bold;

}
div{
	width: 50%;
	height: 100px;
	background-color: #F8F9DF;
}
ul li{
	color: #1403F8;
	font-size: 20px;
}

.piePagina{

		text-align: right;
		color: #44FF13;
}